*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: $whiteColor;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: auto;
    padding: 0 2rem;
}

.text-center {
    text-align: center;
}

.flex {
    display: flex;
    align-items: center;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-column {
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.grid {
    display: grid;
    grid-template-columns: repeat((auto-fill, minmax(28rem, 1fr)));
    grid-gap: 5rem;
    align-items: center;
    justify-items: center;
}

.footer-grid {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    grid-gap: 5rem;
}
