// Colors
$primaryColor: #a452ff;
$secondaryColor: #f857ff;
$whiteColor: #fafcff;
$textColor: #2e2b34;

// Typography
$largeTitle: 6rem;
$subTitle: 5rem;
$titleRegular: 3rem;
$mediumText: 2.4rem;
$bodyText: 1.7rem;
$subHead: 1.5rem;

// Font Weight
$fontBold: 700;
$fontMedium: 500;
$fontRegular: 400;
